In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import sklearn


from sklearn.pipeline import make_pipeline

#initial data import
df = pd.read_csv('dfnum.csv')

df = df.drop(["Unnamed: 0"],axis=1)

In [3]:
pip install imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.8.0-py3-none-any.whl (206 kB)
     |████████████████████████████████| 206 kB 2.7 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.13.3 in /Users/tomgvero/opt/anaconda3/envs/Diss/lib/python3.8/site-packages (from imbalanced-learn) (1.19.2)
Requirement already satisfied: scipy>=0.19.1 in /Users/tomgvero/opt/anaconda3/envs/Diss/lib/python3.8/site-packages (from imbalanced-learn) (1.6.2)
Requirement already satisfied: joblib>=0.11 in /Users/tomgvero/opt/anaconda3/envs/Diss/lib/python3.8/site-packages (from imbalanced-learn) (1.0.1)
Requirement already satisfied: scikit-learn>=0.24 in /Users/tomgvero/opt/anaconda3/envs/Diss/lib/python3.8/site-packages (from imbalanced-learn) (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/tomgvero/opt/anaconda3/envs/Diss/lib/python3.8/site-packages (from scikit-learn>=0.24->imbalanced-learn) (2.2.0)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.8.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
import imblearn

In [6]:
print(imblearn.__version__)

0.8.0

In [19]:
from imblearn.over_sampling import SMOTE

from collections import Counter

In [36]:
df = pd.get_dummies(df,drop_first=True)

X = df.drop("Outcome_G",axis=1)

y = df["Outcome_G"]

Counter(y)

#only 7.5% of cases are bad credit

Counter({1: 5971, 0: 495})

In [37]:
#paper recommends to combine SMOTE with undersampling of the majority class
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline

over = SMOTE(sampling_strategy=0.5)
under = RandomUnderSampler(sampling_strategy=0.5)

steps = [("o", over),("u", under)]
pipeline = Pipeline(steps=steps)

In [39]:
X, y = pipeline.fit_resample(X,y)

In [40]:
counter = Counter(y)
print(counter)

#now half half as many bad cases as good - seems more reasonable

Counter({1: 5970, 0: 2985})

In [42]:
df_smote = X
df_smote["Outcome_G"] = y
df_smote

,Term,Age1,MUDI,Avg Transactions,Avg Bal,Avg Turnover,Time with Bank Years,Total Salary,Multiple Customers,Single Purpose,Outcome_G
0,60,5608,6,1,4642,100,10,45,0,0,0
1,36,3702,3,30,135,2878,9,36,0,0,0
2,60,3200,1,2,2483,334,6,21,0,0,0
3,36,1910,1,37,478,2402,3,7,0,0,0
4,60,3400,0,15,384,2887,10,50,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
8950,60,3305,1,32,821,3752,4,42,0,1,1
8951,36,4904,0,37,13,2921,18,109,1,1,1
8952,36,2901,0,33,291,2233,2,30,0,1,1
8953,60,2207,6,34,1377,2952,10,27,0,0,1
8954,36,4311,0,34,744,4620,17,53,1,1,1

In [43]:
df_smote.to_csv("dfsmote.csv")

In [46]:
v = [1,2,3]
v.clear()
v.append(2.72)
v

[2.72]